# Data directories
data/
*.csv
*.parquet
.csv

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db